.genresContainer {
	scrollbar-width: none;
	width: 100%;
	display: flex;
	overflow-y: scroll;
	background-color: white;
	height: 8%;
	padding: 10px;
}
.genresContainer::-webkit-scrollbar {
	display: none;
}
