.mainContainer {
	color: black;
	background-color: white;
	border-radius: 5px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 25px;
	padding-right: 14px;
	padding-left: 14px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.containerTitle {
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	margin-bottom: 10px;
}
.gameCardsContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow-y: scroll;
	width: 100%;
}
.gameCardsContainer::-webkit-scrollbar {
	display: none;
}
.containerName {
	font-size: 12px;
	font-weight: 700;
}
.seeAllBtn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
/* .seeAllBtn > p {
	font-size: 12px;
	font-weight: 700;
} */
